
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:rgb(249, 248, 248);
    
    max-width:1600px ;
    height: 92px;
}
nav .logo{
    margin-left:120px;
    padding-top: 5px;
}
.btn button{
   background-color:#30b868 ;
   border:none;
   border-radius: 5px;
   padding: 13px 16px ;  
   margin-right: 120px;
   font-weight: bold;
   color: white;
   box-shadow: 3PX 3PX 3PX #627382;
}
.btn button:hover{
color: #30b868;
background-color: aliceblue;

cursor: position ;
}
header nav li:hover{
    background-color:lightgrey ;

}
header nav li{
    padding: 10px 12px;
    border-radius: 5px;
}
 nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    
 }
 nav li a{
    text-decoration: none;
    color: black;
    font-size: large;
 }
 /*nav is up)*/
 .banner{
    background-image: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width:1600px;
    height:674px;
    background-size: cover;
    display: flex;
     justify-content: center;
    text-align:center ;
    align-items: center;
    
 }
 .hero-content{
   padding:115px 120px 180px ;
   width: 1360px;
   height: 379px;
   color: white;
 }
 .top{
   
    background-color:white ;
    padding:8px 12px;
    color: #30b868;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;

 }
 .top h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:200px;
    margin-top: 50px;
    width: 770px;
    height: 168px;
    margin-top: 200px;

 }
 .cc{
    color: #30b868;
 }
 .hero-content p{
    line-weight: 24;
    font-size: 18px;
 }
 .button-group{
    display: flex;
   justify-content: center;
   gap:20px;
   margin-top: 30px;
 }
 .button-group .green {
    background-color: #30b868;
    padding:12px 16px;
    color: white;
    height: 51px;
    width: 252px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
 }
 .button-group .no-color{
color: white;
width: 198px;
height: 52px;
padding: 12px 16px;
border: 1px solid gray;
background-color:rgba(255, 255, 255, 0.1);
border-radius:3px;
font-size: 16px;

 }
 /*banner is up*/

#skills{
    padding: 0%;
    width: 1600px;
    height: 448px;
}
#skills .skills-contener .section-heading{
    width: 1360px;
    height: 152px;
    text-align: center;
    margin: 50px auto;
    font-size: x-large;
    justify-content: center;
    
    align-items: center;

}
#skills .skills-contener .section-heading p{
    font-size: smaller;
    color: #627382;
}
#skills .skills-contener {
    width: 1360px;
    margin: 0 auto;
}
#skills .skills-contener .skill-box{
    display: flex;
    gap: 24px;

}
.skill-box .skill-card{
    padding: 24px;
    box-shadow: 1px 2px 3px rgb(172, 164, 164);
    max-width: 322px;
    max-height: 300px;
    

}
.skill-card img{
    max-width: 60px;
    margin-bottom: 10px;
    background-color: #f95555;
    border-radius: 50px;
    padding: 6px;
    display: flex;
    text-align: center;
    justify-content: center;
 
    align-items: center;
}
.skill-card h3{
    font-size:20px;
    margin-bottom: 10px;
    text-align: center;
}
.skill-card p{
    font-size: 15px;
    color: #627382;
    text-align: center;
}

.fast-box{
    display: flex;
    width: 1600px;
    margin: 0 auto;
}
.all-content{
    width: 1360px;
    display: flex;
    margin: 120px;
    
    align-items: center;
    gap: 60px;
}
.fast-img{
    height: 600px;
    width: 600px;
}
.icon{
    list-style: none;
    gap: 2px;
    
}
.fast-content h2{
    font-size: 48px;
    margin-top: 16px;
}
.other{
    font-size:16px ;
    color: #30b868;
}
.fast-content p{
    font-size: 16px;
    margin-top: 16px;
    color: #627382;
}
footer{
   max-width:1600px;
   max-height: 348px;
    background-color: darkblue;
}
footer .contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    width: 1360px;
    height: 64px;
    margin: auto;
    margin-top: 50px;
}
footer ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 120px;
    color: azure;
}
  footer ul li{
    padding:6px 8px ;
    border-radius: 3px;
  }
  footer ul li:hover{
    background-color: #faf7f7;
  }
  .bottom-bar{
    display: flex;
    justify-content: center;
    border-top: 1px solid white; 
    width: 1360px;
    margin: auto;
    height: 54px;
    margin-top: 100px;
    color: white;
  }